<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techangkeji.model_mine">

    <application>
        <activity android:name=".ui.activity.SettingActivity" />
        <activity android:name=".ui.activity.PersonActivity" />
        <activity android:name=".ui.activity.ChangeNickNameActivity" />
        <activity android:name=".ui.activity.AutonymAuthActivity" />
        <activity android:name=".ui.activity.QualificationAuthActivity" />
        <activity android:name=".ui.activity.BrokerAuthActivity" />
        <activity android:name=".ui.activity.InformationCommentActivity" />
        <activity android:name=".ui.activity.InformationDetailActivity" />
        <activity android:name=".ui.activity.InviteInformationActivity" />
        <activity android:name=".ui.activity.InviteReleaseActivity" />
        <activity android:name=".ui.activity.HouseResourceActivity" />
        <activity android:name=".ui.activity.HouseResourceReleaseActivity" />
        <activity android:name=".ui.activity.AddSizeActivity" />
        <activity android:name=".ui.activity.CollectActivity" />
        <activity android:name=".ui.activity.ChangePhoneActivity" />
        <activity android:name=".ui.activity.ChangePasswordActivity" />
        <activity android:name=".ui.activity.AboutActivity" />
        <activity android:name=".ui.activity.AgreementActivity" />
        <activity android:name=".ui.activity.OtherBindingAccountActivity" />
        <activity android:name=".ui.activity.FeedBackActivity" />
    </application>

</manifest>