<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techangkeji.model_home">

    <application>
        <activity android:name=".ui.InformActivity" />
        <activity android:name=".ui.activity.InformActivity" />
        <activity android:name=".ui.activity.HousingInformationActivity" />
        <activity android:name=".ui.activity.HousePledgeActivity" />
        <activity android:name=".ui.activity.MortgagePledgeActivity" />
        <activity android:name=".ui.activity.HouseMortgagePledgeActivity" />
        <activity android:name=".ui.activity.CreditActivity" />
        <activity android:name=".ui.activity.AuctionActivity" />
    </application>

</manifest>