<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techangkeji.module">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <application>
        <activity android:name=".ui.activity.HRDetailActivity" />
        <activity android:name=".ui.activity.HouseSizeActivity" />
        <activity android:name=".ui.activity.HouseStateActivity" />
        <activity android:name=".ui.activity.CommentActivity" />
        <activity android:name=".ui.activity.AreaSelectActivity" />
        <activity android:name=".ui.activity.LocationActivity" />
        <activity android:name=".ui.activity.Location1Activity" />
        <activity android:name=".ui.activity.SearchActivity" />
    </application>

</manifest>