<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techangkeji.model_hr">

    <application
        android:name="com.goldze.base.debug.DebugApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<activity_invite_information android:name="com.techangkeji.model_house_resource.MainActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity_invite_information>-->
    </application>
</manifest>