<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techangkeji.module_launcher">

    <application>
        <activity android:name=".LauncherActivity"
            android:theme="@style/SplashTheme"/>
        <activity android:name=".LauncherActivity1"
            android:theme="@style/SplashTheme1"/>
    </application>
</manifest>